@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root
{
    --black: #333;
    --light-color: #cdaa7c;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

*
{
 font-family: 'Roboto', sans-serif;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 border: none;
 outline: none;
 /* text-transform: capitalize;
 transition: all .2s linear; */
}
.parent{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
}

.parent .home,
.parent .login{
    width: 50vw;
    height: 100vh;
    /* position: absolute; */
}

/* .parent{
    display: flex;
    align-items: center;
} */

.parent .home{
    background: url(./pic/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(6, 6, 136, 0.651);
    /* background-position: center; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center; */
}

.login{
    background: url(./pic/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center;
    align-content: center;
    text-align: center; */
}

.welcome{
    text-align: center;
    color: var(--light-color);
    font-size: 30px;
    height: 100%;
    padding-top: 50%;
}

/* text */
.welcome:hover{
    /* height: 50%; */
    background-color: rgba(0, 0, 255, 0.075);
    /* position: absolute;
    top: 50%; */
    /* height: 100%; */

}


.home:hover{
    /* background-size: contain; */
    transition: .5s;
    /* filter: blur(2px); */
    
    
}





@media (max-width: 991px){
.parent .home,
.parent .login{
    top: 0;
    width: 50vw;
    height: 80vh;
}
}

@media (max-width: 768px){
    .parent .home{
        top: 100vh;
        position: absolute;
        width: 100vw;
        height: 100vh;
    }
    .parent .login{
        /* top: 0; */
        width: 100vw;
        height: 100vh;
        position: absolute;
    }
    
}